<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">
    <head th:replace="fragments:: header('Home Page - Flipkart Admin Control Panel')" />
    <body>
        <div class="container-fluid">
            <div>
                <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
                    <input type="submit">
                </form>
                <div th:replace="fragments:: navbar"></div>
            </div>
            <div class="text-center">
                <h1>Flipkart Admin Control Panel</h1>
                Welcome <a style="text-decoration: none;" th:href="@{/account}" sec:authentication="principal.fullName"></a>
                &nbsp;
                <span sec:authentication="principal.authorities"></span>
            </div>
            <div th:replace="fragments:: footer"></div>
        </div>
    </body>
</html>